
html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: white;
    color: black;
    font-family: 'Vesper Libre', serif;
    margin: 2rem;
    max-width: 700px;
  }

h1 { 
    margin: 0; 
}

h2 {
    font-weight: normal;
    font-size: 1.2rem;
    margin: 0;
}

.case-title {
    font-size: 2rem;
    font-weight: bold;
}

 .logo-container {
     display: flex;
     flex-direction: row;
     align-items: center;
 } 

 .logo {
    width: 23px;
    height: 28px;
    margin-right: 1rem;
 }

  a { color: #1400FF; }

  .section-title {
    font-family: Vesper Libre;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 45px;
  }

  .info {
    border: 4px solid #1400FF;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 1rem 0;
  }

  .info-roeselare { border: 4px solid #009970; }
  .info-dessystem { border: 4px solid #07193f; }
  .info-marvin { border: 4px solid #fe0056; }
  .info-widget { border: solid 4px #11d180; }

  .info-item {
      width: 150px;
  }

  .freelance { color:#e2014d;}

  .link:hover { color: navy}
  .link { transition: all .2s;}

  .info-item-title {
      font-size: 14px;
      line-height: 27px;
  }

  .info-item-variable {
      font-weight: 500;
      font-size: 16px;
  }

  .index-work {
      display: flex;
      flex-direction: column;
  }

  .index-work-item {
    -webkit-box-shadow: 2px 6px 20px -9px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 6px 20px -9px rgba(0,0,0,0.2);
    box-shadow: 2px 6px 20px -9px rgba(0,0,0,0.2);
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    transition: all ease-in .2s;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid blue;
  }

  .index-work-item:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: all ease-in .2s;
    border: 1px solid white;
  }

  .other-work {
    -webkit-box-shadow: 2px 6px 20px -9px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 6px 20px -9px rgba(0,0,0,0.2);
    box-shadow: 2px 6px 20px -9px rgba(0,0,0,0.2);
    padding: 1.5rem 2rem;
    margin: 2rem;
  }

  .case-img {
      width: 100%;
      max-width: 1012px;
      max-height: 506px;
  }