html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: white;
    color: black;
    font-family: 'Vesper Libre', serif;
    margin: 2rem;
    max-width: 700px;
  }

h1 {
    margin: 0;
}

h2 {
    font-weight: normal;
    font-size: 1.2rem;
    margin: 0;
}

.case-title {
    font-size: 2rem;
    font-weight: bold;
}

 .logo-container {
     display: flex;
     flex-direction: row;
     align-items: center;
 } 

 .logo {
    width: 23px;
    height: 28px;
    margin-right: 1rem;
 }

  a {
      color: #1400FF;
  }

  .section-title {
    font-family: Vesper Libre;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 45px;
  }

  .info {
    border: 4px solid #1400FF;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 1rem 0;
  }

  .info-roeselare { border: 4px solid #009970; }

  .info-item {
      width: 150px;
  }

  .info-item-title {
      font-size: 14px;
      line-height: 27px;
  }

  .info-item-variable {
      font-weight: 500;
      font-size: 16px;
  }

  .index-work {
    -webkit-box-shadow: 2px 6px 20px -9px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 6px 20px -9px rgba(0,0,0,0.2);
    box-shadow: 2px 6px 20px -9px rgba(0,0,0,0.2);
    padding: 1.5rem 2rem;
    margin-top: 1rem;
  }

  .other-work {
    -webkit-box-shadow: 2px 6px 20px -9px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 6px 20px -9px rgba(0,0,0,0.2);
    box-shadow: 2px 6px 20px -9px rgba(0,0,0,0.2);
    padding: 1.5rem 2rem;
    margin: 2rem;
  }

  .case-img {
      width: 100%;
      max-width: 1012px;
      max-height: 506px;
  }